/*
  Home Page
  Namespace: #pageHome
*/
#pageHome {
  
  .map {display:none;}
  .darkBox {
    padding:1em;
    text-align:left;
    margin-bottom:2px;
    background:rgba(1,1,1,.8);
  }
  .lightBox {
    padding-bottom:5px;
    padding-left:0;
    padding-right:0;
    min-height:100px;
  }
  .status {
    position:absolute;
    display:block;
    right:0;
    top:0;
    bottom:0;
    width:5em;
    height:100%;
    background-color:rgba(255,180,50,.72);
    &.on {background-color:rgba(50,255,50,.72);}
    &.off {background-color:rgba(255,50,50,.72);}
  }
  h4 {
    color:#fff;
    display:inline-block;
    font-size:1.4em;
    margin-left:1.4em;
    font-weight:100;
    margin-right:0;
    span {
      display:none;
      position:absolute;
      right:1.18em;
      top:1.34em;
      font-size:.7em;
    }
    a {
      color:#aaa;
    }
  }
  .drop {
    cursor:pointer;
    position:absolute;
    left:0;
    top:0;
    padding-top:1.18em;
    padding-left:.7em;
    font-weight:bold;
    bottom:0;
    width:2em;
    height:100%;
    display:inline-block;
    background:#111;
    color:#555;
  }
  .users, .map {
    span {font-size:1.2em;}
  }
  .users {
    margin-bottom:10px;
    @media (min-width:1024px) {
      padding-right:5.5em;
    }
    .user {
      display:inline-block;
      padding:.5em;
      margin:.6em .1em;
      .border-radius(1px);
      border:3px solid #444;
      font-weight:400;
      .box-shadow(0px 1px 1px 0px rgba(0,0,0,0.05));
      //background:rgba(200,50,200,.3);
      font-size:1em;
      @media (max-width:550px) {font-size:1.2em;}
    }
  }
  .connect {
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    width:5em;
    font-size:1em;
    text-align:right;
    @media (max-width:1024px) {display:none;}
    a {
      padding:.2em;
      display:inline-block;
      text-align:center;
      border-bottom:1px dotted #ddd;
      border-left:1px dotted #ddd;
      color:#888;
    }
  }
}