/*
  Home Page
  Namespace: #pageHome
*/
#pageHome {
  
  .mainBox {
    padding:1em;
    background:rgba(20,10,20,.9);
    .border-radius(2px);
    h4 {
      color:#fff;
      font-weight:300;
    }
  }
}