  <!-- Footer -->
  <footer>
    
  </footer>

  <!-- BG -->
  <div id="background">

  <!-- JS -->
  <!-- Vendor -->
  <script src="/scripts/vendor/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/TweenMax.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/flowtype.js" type="text/javascript"></script>
  <script src="/scripts/vendor/moment.min.js" type="text/javascript"></script>
  <!-- Arkfish -->
  <script src="/scripts/arkfish.js" type="text/javascript"></script>
</body>
