<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Disable Zoom [hardcore] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Disable Windows Phone tap highlighting -->
    <meta name="msapplication-tap-highlight" content="no" />
    
    <!-- Title -->
    <title>Vybe {{#if title}} > {{title}}{{/if}}</title>

    <!-- CSS -->
    <link href="styles/master.css" rel="stylesheet">
    
    <!-- Pre-Render JS -->

  
  </head>
  <body>
    <header class="on">
      <a id="home" href="/" class="typcn typcn-home-outline"></a>
      <a id="user" href="/form" class="typcn typcn-heart-outline"></a>
      <!--
        <span id="mail" class="typcn typcn-mail"></span>
        <span id="alerts" class="typcn typcn-bell"></span>
      -->
    </header>