<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Disable Zoom [hardcore] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Disable Windows Phone tap highlighting -->
    <meta name="msapplication-tap-highlight" content="no" />
    
    <!-- Title -->
    <title>Arkfish {{#if title}} > {{title}}{{/if}}</title>

    <!-- CSS -->
    <link href="/styles/master.css" rel="stylesheet">
    
    <!-- Pre-Render JS -->

  
  </head>
  <body>
    <header>
      <img src="/images/logo2.png">
    </header>
    <nav>
      <ul>
        <li><a href="/"><span class="typcn typcn-home-outline"></span> Status</a></li>
        <!--li><a href="/dinos" ><span class="typcn typcn-heart-outline"></span> Dinos</a></li-->
      </ul>
      <ul class="github">
        <li><a  target="_blank" href="https://github.com/pstrawberriedev/arkfish" ><span class="typcn typcn-social-github"></span> Git the code</a></li>
      </ul>
    </nav>
    
    <!-- Modal Overlay -->
    <div id="overlay"></div>