{{> header}}
  <section class="container-fluid" id="pageDinos">
    
    <section class="row">
      <div class="col-sm-12 title">
        <h1>{{dino.name}}</h1>
      </div>
    </section>

    <section class="row" id="editDino">
      <div class="col-sm-8 col-sm-push-2">
        <form method="post">
          <input type="number" name="dinoId" style="display:none" value="{{dino.id}}" />
          <!-- Server -->
          <h4>Dino's Residence</h4>
          <select name="dinoServer" id="dinoServer">
            <option value="unicornkingdom" selected>Arkfish Unicorn Kingdom</option>
            <option value="classic">Arkfish Classic</option>
            <option value="vanilla">Arkfish Vanilla</option>
          </select>
          <!-- Name -->
          <h4>Name</h4>
          <input type="text" id="dinoName" name="dinoName" value="{{dino.name}}" />
          <!-- Owner -->
          <h4>Owner</h4>
          <input type="text" id="dinoOwner" name="dinoOwner" value="{{dino.owner}}" />
          <!-- Mortality -->
          <h4>Mortality</h4>
          <select name="dinoMortality" id="dinoMortality">
            <option value="living" selected>Living</option> 
            <option value="deceased">Deceased</option>
          </select>
          <!-- Notes -->
          <h4>Notes</h4>
          <textarea id="dinoNotes" name="dinoNotes">{{dino.notes}}</textarea>
          <!-- Submit! -->
          <input type="submit" value="Update Dino">
        </form>
      </div>
    </section>
    
    <section class="row resultsSingle">
        {{#dino}}
          <div class="col-sm-12">
            <div class="singleDino darkBox">
              <div class="server">Server: <span>{{server}}</span></div>
              <div class="owner">Owner: <span>{{owner}}</span></div>
              <div class="mortality">Mortality: <span>{{mortality}}</span></div>
              <div class="notes">Notes: <span>{{notes}}</span></div>
              <div class="added">Added: <span></span></div>
              <div class="datePop" style="display:none;"><span>{{dateAdded}}</span></div>
            </div>
          </div>
        {{/dino}}
    </section>

  </section>

{{> footer}}