{{> header}}

  <main id="home" class="container">
    

    <header>
       
      <img class="ark" src="/images/ark.png" />
      
      <h1>{{josh.serverName}}</h1>
      <p>
        Server is <span class="{{josh.status}}">{{josh.status}}</span>. Now playing {{josh.map}} with {{josh.numberOfPlayers}}/{{josh.maxNumberOfPlayers}} players.<br />
        <a style="display:block;color:#aaa;margin-top:.3rem;">Last checked at {{updated.date}} MST.</a>
      </p>
      
      <div class="text-center">
        <a class="connect {{josh.status}}" href="{{josh.connectUrl}}">Connect to server</a>
      </div>
      
    </header>
    
    <section class="players">
      
        {{#josh}}{{#players}}
        <p>
          {{.}}
        </p>
        {{/players}}{{/josh}}
      
    </section>
    
  </main>

{{> footer}}    