/*
  Base
*/

// Dumb Shit
* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

// Global Setup
html, body {
}

body {
  padding-top:130px;
  background:#fafafa;
  margin:0;
}


// Colors