/* 
  Fonts
*/

// Imports
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

// Font Stacks
@bodyFont: 'Roboto',Arial,Helvetica Neue,Helvetica,sans-serif;


// Sizes
body {
  font-size: 18px;
  line-height: 1.3;
  font-family: @bodyFont;
  font-weight:300;
  color:#333;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:100;
}

p {font-size:1.4em;}
h1 { font-size: 4.3em; }
h2 { font-size: 3.3em; }
h3 { font-size: 2.4em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.2em; }


// Font Colors
@dark:#444;


// Link Rules
a, a:link, a:visited, a:hover, a:active {color:inherit;text-decoration:none;}
a.link:hover {text-decoration:underline;}