/*
  Navigation
*/
header {
  width:100%;
  font-size:1.5em;
  color:#ccc;
  clear:both;
  position:absolute;
  padding:0 8px 0 4px;
  top:0;
  left:0;
  right:0;
  display:block;
  text-align:center;
  z-index:300;
  .transition(top .2s ease-in-out);
  &.on {
    top:0;
  }
  img {
    max-width:100px;
    height:auto;
    position:relative;
    display:inline-block;;
    margin-top:8px;
    margin-right:15px;
  }
  #github {
    float:right;
    display:block;
    font-size:1.2em;
    margin-top:-5px;
    color:#aaa;
    font-weight:normal;
  }
  /*
  a {
    font-size:34px;
    display:inline-block;
    cursor:pointer;
    padding:3px 8px 7px 8px;
    margin:0 4px;
    border:1px solid #eee;
    .border-radius(50%);
    .transition(all .3s ease-in-out);
    &:hover {
      color:#e35db6;
      background-color:rgba(255,0,255,.1);
    }
    @media (max-width:500px) {
      font-size:36px;
    }
  }*/
}

#logo {
  position:fixed;
  width:100%;
  text-align:center;
  margin:0 auto;
  left:0;
  right:0;
  bottom:1em;
  z-index:-1;
}